<div class="grid-container" *ngIf="collection.length>0 ; else elseBlock">

  <div *ngFor="let movie of collection">

    <div class="card-container">
      <nz-card nzHoverable class="card" [nzCover]="coverTemplate" routerLink="/description/{{movie.id}}">

        <p><b>{{ movie.title }}</b></p>
        <p>Rating: {{ movie.vote_average }}
          <button mat-icon-button aria-label="delete icon" (click)="deleteMovie(movie)">
            <mat-icon>delete</mat-icon>
          </button>
        </p>
        <ng-template #coverTemplate class="poster">
          <img alt="poster" src='https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}'/>
        </ng-template>

      </nz-card>
    </div>


  </div>
</div>
<ng-template #elseBlock >
  collection of favorite movies is empty
</ng-template>

